@model List<Product>

@{

    ViewData["Title"] = "Orders";
    var products = Model;

    decimal? subtotal = 0;


    foreach(var product in products)
    {
        subtotal += product.PriceSRP;
    }

    decimal? total = subtotal + 55.99M;

    decimal? truncatedTotal = total.HasValue ? Math.Truncate(total.Value * 100) / 100 : null;

    decimal? truncatedSub = subtotal.HasValue ? Math.Truncate(subtotal.Value * 100) / 100 : null;
}


<div id="cart-page">
    <div id="top-titles">
        <h1>Cart</h1>
        <h2>Summary</h2>
    </div>
    <section id ="cart-content">
        @foreach (var product in products)
        {
            <div class="cart-itembox">
                <div id="bike-image">
                    <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Bikes_Trek3000.png" />
                </div>
                <div id="cart-adjust">
                    <div>
                        <div class="cart-info">
                            <h2>@product.ProductName</h2>
                            <div class="quantity-flex">
                                <p>Quantity</p>
                                <div id="quantity-border">
                                    <p>1</p>
                                    <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" />
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="cart-info">
                        <p>Road Bike</p>
                        <p class="underline-style remove-cart-item">Remove</p>
                    </div>
                    <div id="details-aside-color-row">
@*                        <div>
                            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Color.png" alt="color">
                        </div>*@
                        <p>@product.Color</p>
                    </div>
                    <p>
                        @product.ProductType.Description
                    </p>
                </div>
            </div>
        }
    </section>
    
    


    <aside id="cart-aside">
        <div class="spaceBetween">
            <h5>Subtotal</h5>
            <h5>$ @truncatedSub</h5>
        </div>
        <div class="spaceBetween">
            <h5>Estimated Shipping</h5>
            <h5>Free</h5>
        </div>
        <div class="spaceBetween">
            <h5>Estimated Tax</h5>
            <h5>$55.99</h5>
        </div>

        <div class="total-border"></div>

        <div class="spaceBetween">
            <h5>Total</h5>
            <h5>$ @truncatedTotal</h5>
        </div>
        <div id="details-aside-btn-container">
            <a id="details-checkout-button" class="link-button" asp-area="Admin" asp-controller="Orders" asp-action="Checkout">
                Checkout
            </a>
        </div>
    </aside>

    <section id="details-similar-section">
        <h3>Don't Forget These Items</h3>
        <div id="details-carousel-row">
            <div class="hover">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_LeftArrow.png" alt="left arrow">
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/DontForgetTheseItems_GForceHelmet.png" alt="Don't forget item">
                <h5>G Force Helmet</h5>
                <h5>$60.00</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/DontForgetTheseItems_CyberFoCyclingShoes.png" alt="Don't forget item">
                <h5>CyberFo Cycling Shoes</h5>
                <h5>$150.00</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/DontForgetTheseItems_KAPackGlasses.png" alt="Don't forget item">
                <h5>KA Pack Glasses</h5>
                <h5>$59.99</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/DontForgetTheseItems_HydrationBeltGru.png" alt="Don't forget item">
                <h5>Hydration Belt Gru</h5>
                <h5>$30.99</h5>
            </div>
            <div class="hover">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_RightArrow.png" alt="right arrow">
            </div>
        </div>
    </section>
</div>


@*@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $('.remove-cart-item').click(() => {
            @products.Remove();
        });
    </script>
}*@