@model ExtremeBicycle.Models.DTO.ProductDTO

@{
    ViewData["Title"] = "Product Details";

    // convert price to money format
    string price = String.Format("{0:C2}", Convert.ToInt32(Model.Product.PriceSRP));

    string colorImport = "unavailable";

    if (Model.Product.Color != null)
    {
        colorImport = Model.Product.Color;
    }

    string color =
        System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.
        ToTitleCase(colorImport.ToLower());
}
<div>&nbsp;</div> <!-- Problem with spacing without this -->
<div id="details-page">
    <div id="details-header">
        <h4><a asp-area="" asp-controller="Home" asp-action="Index">Home</a> / <a asp-area="Admin" asp-controller="Products" asp-action="Bikes">Bikes</a> / @Model.Product.ProductName</h4>
    </div>
    <section id="details-images">
        <div id="details-main-img-container">
            <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Bikes_Trek3000.png" alt="main image" id="details-main-img">
            <div id="details-hover-container" class="details-hover-effect">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Bikes_Trek3000.png" alt="main image" id="details-hover-img">
            </div>
        </div>
        <div id="details-small-img-row">
            <button class="details-small-img-container">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Trek3000_BikeSeat.png" alt="small image">
            </button>

            <button class="details-small-img-container">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Trek3000_BikeTire.png" alt="small image">
            </button>

            <button class="details-small-img-container">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Trek3000_BikeHighView.png" alt="small image">
            </button>

            <button class="details-small-img-container">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Trek3000_BikeBackside.png" alt="small image">
            </button>   
        </div>
    </section>
    <aside id="details-aside">
        <h1>@Model.Product.ProductName</h1>
        <h5>@Model.Product.ProductType.ProductTypeName</h5>
        <div id="details-aside-review-row">
            <div id="details-review-stars">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Star.png" />
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Star.png" />
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Star.png" />
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Star.png" />
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Star.png" />
            </div>
            <p>33 Reviews</p>
        </div>
        <h4>@price</h4>
        <div id="details-aside-color-row">
@*            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Color.png" alt="color">
            </div>*@
            <h5>@color</h5>
        </div>
        <p>
            @Model.Product.ProductType.Description
        </p>
        <div id="details-aside-btn-container">
            <button id="details-cart-btn">Add To Cart</button>
            <button id="details-favorite-btn">Favorite <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Heart.png" alt="heart icon"></button>
        </div>

@*        <div class="details-aside-collapsible-row">
            <p>Product Details</p>
            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" />
            </div>
        </div>*@

        <section class="product-filter details-spacing-top">
            <div class="product-filter-heading">
                <p>Product Details</p>
                <div class="product-filter-collapse-container">
                    <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" class="product-down-arrow">
                </div>
            </div>
            <div class="product-filter-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
            </div>
        </section>

        <section class="product-filter details-spacing-top">
            <div class="product-filter-heading">
                <p>Reviews (33)</p>
                <div class="product-filter-collapse-container">
                    <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" class="product-down-arrow">
                </div>
            </div>
            <div class="product-filter-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
            </div>
        </section>

        <section class="product-filter details-spacing-top">
            <div class="product-filter-heading">
                <p>Size Chart</p>
                <div class="product-filter-collapse-container">
                    <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" class="product-down-arrow">
                </div>
            </div>
            <div class="product-filter-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud. </p>
            </div>
        </section>

@*        <div class="details-aside-collapsible-row">
            <p>Reviews (33)</p>
            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" />
            </div>
        </div>
        <div class="details-aside-collapsible-row">
            <p>Size Chart</p>
            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_ArrowDown.png" />
            </div>
        </div>*@
    </aside>
    <section id="details-similar-section">
        <h3>Similar Rides For You</h3>
        <div id="details-carousel-row">
@*            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_LeftArrow.png" alt="left arrow">
            </div>*@
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/SimilarRidesForYou_TrekCoal23.png" alt="similar item">
                <h5>Trek Coal 23</h5>
                <h5>$590.00</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/SimilarRidesForYou_TrekExtreme2.png" alt="similar item">
                <h5>Trek Coal 23</h5>
                <h5>$590.00</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/SimilarRidesForYou_TrekStinger1.png" alt="similar item">
                <h5>Trek Coal 23</h5>
                <h5>$590.00</h5>
            </div>
            <div class="details-similar-card">
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/SimilarRidesForYou_TrekHeat3.png" alt="similar item">
                <h5>Trek Coal 23</h5>
                <h5>$590.00</h5>
            </div>
@*            <div>
                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_RightArrow.png" alt="right arrow">
            </div>*@
        </div>

        <div id="details-modal">
            <div id="details-modal-body">
                <div id="details-modal-top-row">
                    <div id="details-modal-left-col">
                        <img id="details-modal-img" src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Bikes_Trek3000.png" />
                    </div>
                    <div id="details-modal-right-col">
                        <h4>@Model.Product.ProductName</h4>
                        <div id="details-modal-color-row">
@*                            <div id="details-modal-color-container">
                                <img src="~/ExtremeBicycleShop/ExtremeBicycleShop_V2/Icon_Color.png" />
                            </div>*@
                            <h5>@color</h5>
                        </div>
                        <h5>@price</h5>
                    </div>
                </div>
                <div id="details-modal-bottom-row">
                    <button id="details-modal-keep-shopping">Keep Shopping</button>
                    <a id="details-checkout-button" asp-area="Admin" asp-controller="Orders" asp-action="Add" asp-route-id="@Model.Product.ProductID">
                        Checkout
                    </a>
                </div>
                <div id="details-modal-X-container"></div>

            </div>
        </div>

    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{/* CDN for Magnify plugin */}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnify/2.3.3/js/jquery.magnify.min.js" integrity="sha512-YKxHqn7D0M5knQJO2xKHZpCfZ+/Ta7qpEHgADN+AkY2U2Y4JJtlCEHzKWV5ZE87vZR3ipdzNJ4U/sfjIaoHMfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $('#details-cart-btn').click(() => {
            $('#details-modal').css('display', 'flex');
        });

        $('#details-modal-keep-shopping').click(() => {
            $('#details-modal').css('display', 'none');
        });

        // Accordion handling
        $('.product-filter-heading').click(function () {
            var $arrow = $(this).find('img');
            var $content = $(this).next();

            $content.toggleClass('open');

            if ($content.hasClass('open')) {
                let height = `${$content.prop('scrollHeight')}px`;

                $content.css('height', height);
                $arrow.css('transform', 'rotate(180deg)');
            }
            else {
                $content.css('height', '0px');
                $arrow.css('transform', 'rotate(0deg)');
            }
        });

        // Image swap function
        $('.details-small-img-container').click(function () {
            let mainImgSrc = $('#details-main-img').attr('src');
            let smallImgSrc = $(this).find('img').attr('src');

            $('#details-main-img').attr('src', smallImgSrc);
            $('#details-hover-img').attr('src', smallImgSrc);

            if ($('#details-hover-container').hasClass('details-hover-effect')) {
                $('#details-hover-container').removeClass('details-hover-effect');
                $('#details-hover-container').hide();
            }

            if ($(this).hasClass('details-main-img-swapped')) {
                $(this).find('img').attr('src', mainImgSrc);
            }
            else {
                $('#details-main-img').addClass('details-main-img-swapped');
            }
            
        });

    </script>

}